body{
	background-color: #7f8c8d;
}

.container{
	width: 500px;
	margin-left: 36px;
}

h1{
	font-size: 1.5em;
	position: relative;
	top: 81%;
	left: 2%;
}

.title-bar{
	height: 200px;
	background-color: #2ecc71;
	border-bottom: solid 5px #27ae60;
	color: white;

}

.nav{
	height: 34px;
	background-color: #34495e;
	border-bottom: solid 5px #2c3e50;
}

.nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

.nav li{
	float: right;
}

.nav li:hover{
	background-color: #44596e;
}


.nav a{
	display: block;
	text-decoration: none;
	color: white;
	line-height: 34px;
	font-size: 12px;
	text-align: center;
	padding: 0px 15px 0px 15px;
}

.sidebar{
	width: 170px;
	height: 200px;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	top: 260px;
	left: 546px;
	background-color: #ecf0f1;
	border-bottom: solid 3px #444;
}

.sidebar{
	font-size: .73em;
	padding: 1.75em 0 0 .85em;
}

.sidebar div{
	font-weight: bold;
}

.sidebar ul{
	list-style-type: none;
	color: #666;
	line-height: 1.65em;
	margin: .0em;
	padding: .64em .9em;
}

.body{
	background-color: #ecf0f1;
	padding: 1.25em;
}

h2{
	font-size: 1.1em;
	padding-bottom: .9em;
}

p{
	font-size: .73em;
	line-height: 1.5em;
	padding-left: 1.65em;
}

h3{
	font-size: .9em;
	border-bottom: solid 1px #ccc;
	padding: 1em 0em .3em .55em;
}

table{
	width: 100%;
}

table td{
	font-size: .73em;
	padding: .5em .75em .5em 1em;
	border: solid 1px #bbb;
}

table .heading td{
	font-weight: bold;
	background-color: #bdc3c7;
	padding: .5em .5em .5em .9em;
	border: solid 1px #999;
}

table button{
	border-style: none;
	background-color: #3498db;
	color: #fff;
	padding: .4em 1.7em;
}

pre{
	width: 100%;
	font-size: .73em;
	font-family: "Courier";
	color: #333;
	background-color: #bdc3c7;
}

ol{
	font-size: .73em;
	line-height: 1.6em;
	padding-left: 20px;
}

ol li{
	padding-bottom: 1em;
}

ol span{
	font-weight: bold;
}

.post-info{
	font-size: .73em;
	color: #999;
}

form{
	text-align: right;
	font-size: .73em;
	margin-top: -1.8em;
	color: #333;
}

fieldset{

	border-bottom: none;
	border-right: none;
	border-left: none;
}

legend{
	color: #999;
	padding: .8em;
	margin-left: 1em;
	margin-bottom: .9em;
	text-align: left;
}

form input{
	padding: .35em;
	margin: .3em .5em .3em .2em;
	width: 73%;
}

textarea { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 11.5em;
	margin-bottom: 2em;
}
.submit{
	width: 100%;
	height: 3.4em;
	text-transform: uppercase;
	font-size: .85em;
	background-color: #c0392b;
	border-style: none;
	color: white;
}

.feed img{
	float: left;
	padding-right: 15px;
}

h4{
	font-size: .85em;
	padding-top: 8px;
	margin-bottom: 0;
}

.italic{
	font-style: italic;
	margin-top: 5px;
}

.feed p{
	padding-left: 0;
	line-height: 1.3em;
	margin-bottom: 15px;
}

.indent{
	margin-left: 20px;
	padding-left: 10px;
	border-left: solid 1px #ccc;
}
